body {
	background-image: url(./images/graph-dot-background.svg);
	font-family: sans-serif;
	font-size: 14px;
	margin: auto 15px;
}

#header {
	line-height: 0.5rem;
}

h3 {
	margin-bottom: 2px;
}

main > div {
	margin-bottom: 15px;
}

hr {
	margin-top: 0px;
	border: none;
	border-top: 1.3px dotted black;
}

#summary > p {
	text-indent: 25px;
	text-align: justify;
	margin: 0px;
}

#education > p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.left-item {
	text-align: left;
	font-weight: bold;
}

.right-item {
	float: right;
}

#projects > p {
	margin: 5px auto;
}

#education ul {
	line-height: 1.35em;
	margin: 0px auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 5px;
}

#skills > ul {
	columns: 2;
	margin: 0px auto;
}

#skills > ul > li {
	font-weight: bold;
}

#skills > ul ul {
	line-height: 1.65em;
	font-weight: normal;
	list-style-type: "-  ";
	margin-left: -2px;
}

#pastimes-activities {
	margin-bottom: 0px;
}

#pastimes-activities > ul {
	line-height: 1.25em;
	margin: 5px auto;
}

a {
	color: black;
}

a:hover,
a:visited {
	color: #059862;
}
